body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.muuri {
  position: relative;
}

.muuri-item {
    position: relative;
    width: 200px;
    height: auto;
    margin: 10px;
    z-index: 1;
}

.drag {
    cursor: move;
}

.muuri-item-dragging {
  background: lightgrey;
  opacity: 0.5;
  z-index: 3;
}
.muuri-item-releasing {
  z-index: 2;
}
.muuri-item-hidden {
  z-index: 0;
} 
.muuri-vertical {
    width: 100%;
    height: auto;
}

/* .item {
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
} */
 

/* .item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
} */
